<div class="light-card context-bar">
    <div class="header">
        <img class="image" src="../../assets/BKing.jpg">
        <div class="title">Burger King</div>
    </div>
    <hr>
    <div>
        <div class="info">
            <div class="column">
                <div class="info-block">
                    <div class="info-header">Location</div>
                    <div class="info-text">The Johnson Center</div>
                </div>
                <div class="spacer"></div>
                <div class="info-block">
                    <div class="info-header">Mobile</div>
                    <div class="info-text">+44 (0) 7887-665-588</div>
                </div>
            </div>
            <div class="column">
                <div class="info-block">
                    <div class="info-header">Menu</div>
                    <div class="info-text"><a>bk.com</a></div>
                </div>
                <div class="spacer"></div>
                <div class="info-block ">
                    <div class="info-header">Tags</div>
                    <div class="tag-container">
                        <div class="tag">
                            <div class="tag-text">h</div>
                        </div>
                        <div class="tag">
                            <div class="tag-text">Som</div>
                        </div>
                        <div class="tag">
                            <div class="tag-text">Somethg</div>
                        </div>
                        <div class="tag">
                            <div class="tag-text">ng</div>
                        </div>
                        <div class="tag">
                            <div class="tag-text">Somhing</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <app-time-range></app-time-range>
    </div>
