@import '../../../../color-palette';
.place-card {
    width: 199px;
    height: 111px;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: content-box;
}

.light-card {
    background-color: $white;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: $border-color;
}

.place-picture {
    height: 84px;
    width: 84px;
    border: 5px solid $border-color;
    border-radius: 50%;
    margin-left: 5px;
}

.place-status-open {
    height: 18px;
    width: 71px;
    background-color: $open-green;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
}
.hr-vertical{
    height: 17px;
    background-color: $white;
    opacity: 0.6;
    width:1px;
    margin:0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.status-text {
    margin-left: 3px;
    width:30px;
    height:11px;
    font-family: HelveticaNeue-Medium;
    font-size: 9px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    // text-align: center;
    color: $white;
}
.star-icon{
    color:$primary;
    align-self: flex-end;
    margin-right: 3px;
    margin-bottom: 10px;
}
.place-info-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100px;
    height: 111px;
    // background-color: rosybrown;
}
.place-title{
    width: 99px;
	height: 17px;
	font-family: HelveticaNeue-Medium;
	font-size: 15px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.13;
	letter-spacing: normal;
	text-align: center;
	color: $primary;
    margin-bottom: 5px;
}
.place-location{
    width: 99px;
	height: 13px;
	font-family: HelveticaNeue;
	font-size: 8px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.62;
	letter-spacing: -0.2px;
	text-align: center;
	color: $bluegrey;
}