<div class="app-container">
  <div class="sidebar">
    Where is this element
    Send Nudes
  </div>
  <div  class="main-content">
   hi
   <!--<button (click)="showSidebar = !showSidebar;">Toggle style</button>-->

    <div *ngFor="let location of locations" class="location-card card col-xs">
      <img class="location-background-picture" src="{{location.picture}}" alt="Card image">
      <img class="location-circle-picture" src="{{location.picture}}" alt="Card image">

      <div class="card-block">
        <h4 class="card-title mb-0">{{location._name}}</h4>
        <p class="card-text">Opening Time: {{location.openTimes[dayOfTheWeek] | date:'shortTime'}}</p>
        <p class="card-text">Closing Time: {{location.closeTimes[dayOfTheWeek] | date:'shortTime'}}</p>
      </div>
    </div>
  </div>
</div>
