<div class="app-container">
  <div class="sidebar">
    <h5 class="sidebar-heading">Sidebar Heading</h5>
    <img class="sidebar-icon" src="{{icon1}}">
    <img class="sidebar-icon" src="{{icon2}}">
    <img class="sidebar-icon" src="{{icon3}}">


  </div>
  <div class="main-content">
    <!--<button (click)="showSidebar = !showSidebar;">Toggle style</button>-->
    <nav class="navbar navbar-light nav-whats-open">
      <h1 class="navbar-brand mb-0"> Title Here</h1>
      <form class="form-inline float-xs-right">
        <input class="form-control" type="text" placeholder="Search">
        <button class="btn btn-secondary fa fa-search " type="submit"></button>
      </form>
    </nav>
    <h1 style="color:#2f363b;margin-left:1rem;">The Johnson Center</h1>
    <hr>
    <div class="card-content">
      <div *ngFor="let location of locations" class="location-card card col-xs">
        <img class="location-background-picture" src="{{location.picture}}" alt="Card image">
        <img class="location-circle-picture" src="{{secondPic}}" alt="Card image">
        <div class="card-block">
          <h4 class="card-title mb-0">{{location._name}}</h4>
          <p class="card-text">Opening Time: {{location.openTimes[dayOfTheWeek] | date:'shortTime'}}</p>
          <p class="card-text">Closing Time: {{location.closeTimes[dayOfTheWeek] | date:'shortTime'}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
