<div class="app-container">
  <nav class="navbar navbar-light bg-faded">
    <div class="centered two-third">
      <a class="navbar-brand" href="#">Navbar</a>
      <ul class="nav navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="http://example.com" id="supportedContentDropdown" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">Dropdown</a>
          <div class="dropdown-menu" aria-labelledby="supportedContentDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
      </ul>
      <form class="form-inline float-xs-right">
        <!--<input class="form-control" type="text" placeholder="Search">-->
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </nav>
  <div class="mountain-backgound">
    <!--<img class="mountain-backgound" src="../assets/mountains.png">-->
    <nav class="navbar navbar-light bg-faded transparent-nav ">
      <div class="centered one-third">
        <form class=" form-inline ">
          <div class="form-group ">
            <label for="exampleSelect1">Example select</label>
            <select class="form-control" id="exampleSelect1">
      <option>1............................</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
          </div>
          <input class="form-control" type="text" placeholder="Search">
        </form>
      </div>
    </nav>
  </div>
</div>
